# Ignore all node_modules folders
node_modules/
**/node_modules/

# Logs
logs/
*.log

# Environment variables
.env
**/.env

# Ignore build/output directories
client/build/
client/.next/
server/build/
server/dist/
